footer {
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  //   .contact-info
  //   .newsletter {
  //     flex: 1;
  //     padding: 0 100px 0 100px;
  //   }
  .contact-info {
    flex: 1;
  }
  .newsletter {
    flex: 1;
  }
}

li {
  display: flex;
  align-items: center;
  margin-top: 20px;
  img {
    margin-right: 10px;
  }
}

h6 {
  font-size: 43px;
}

input {
  width: 100%;
  background-color: #f8cdc5;
  border: solid 1px #f16f51;
  padding: 10px;
}

.terms {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #000000;

  img {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
    padding: 0;
  }
  .contact-info {
    flex: 0;
  }
  .newsletter {
    flex: 0;
  }
}
