* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

header {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 40px;
  position: fixed;
  width: 100%;
  border-bottom: solid 1px #f16f51;
  z-index:10;
}

a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 25px;
}

button {
  color: #ffffff;
  background-color: #000000;
  border: solid 2px #ffffff;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
}

a:hover {
  color: #f16f51;
}

button:hover {
  color: #ffffff;
  background-color: #f16f51;
  border: solid 2px #f16f51;
}

.handle {
  color: #ffffff;
  display: none;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .handle {
    display: block;
  }
  .showing {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-device {
    flex-direction: column;
    height: 100vh;
  }
  a {
    margin: 0;
    font-size: 25px;
    padding: 20px;
  }
}
