*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  border-bottom: solid 1px #f16f51;
}

a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 30px;
}

button {
  color: #ffffff;
  background-color: #000000;
  border: solid 2px #ffffff;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
}

a:hover {
  color: #f16f51;
}

button:hover {
  color: #ffffff;
  background-color: #f16f51;
  border: solid 2px #f16f51;
}
