* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

header {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 40px;
  position: fixed;
  width: 100%;
  border-bottom: solid 1px #f16f51;
  z-index: 10;
}

a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 25px;
  font-size: 18px;
}

button {
  color: #ffffff;
  background-color: #000000;
  border: solid 2px #ffffff;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
}

a:hover {
  color: #f16f51;
}

button:hover {
  color: #ffffff;
  background-color: #f16f51;
  border: solid 2px #f16f51;
  transition: all 0.4s ease-out;
}

.handle {
  color: #ffffff;
  display: none;
  font-size: 30px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 990px) {
  nav {
    display: none;
  }

  .handle {
    display: block;
  }

  .showing {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-device {
    flex-direction: column;
    height: fit-content;
    text-align: center;
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    /* Firefox */
    -webkit-animation: fadein 1s;
    /* Safari et Chrome */
    -o-animation: fadein 1s;
    /* Opera */
  }

  a {
    margin: 0;
    font-size: 20px;
    padding: 20px;
  }
}
.presentation {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  padding-top: 150px;
}

.presentation-txt,
.presentation-img {
  flex: 1;
}

.presentation-img {
  height: 100vh;
  background: url(../img/accueil.png);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: contain;
  object-fit: cover;
}

.presentation-img:hover {
  background: url(../img/photo-accueil-header-equipe-cabinet-gsexpertise@2x.png);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: contain;
  object-fit: cover;
}

h2 {
  color: #f16f51;
  font-size: 43px;
}

h3 {
  font-size: 43px;
  margin-bottom: 20px;
}

.presentation-txt {
  padding: 0 70px 0 35px;
}
.presentation-txt p {
  margin-bottom: 40px;
}

h1, h2, h3, h4, h6, span {
  font-family: "Abril Fatface", cursive;
}

@media screen and (max-width: 768px) {
  .presentation {
    display: block;
    flex-direction: column;
  }

  .presentation-txt {
    text-align: center;
    padding: 0;
  }

  h2,
h3 {
    font-size: 20px;
  }

  .presentation-img {
    background-position: top;
    background-size: 400px;
  }

  .presentation-img:hover {
    background-position: top;
    background-size: 400px;
  }
}
@media screen and (max-width: 576px) {
  .presentation-img {
    background-size: 310px;
  }

  .presentation-img:hover {
    background-size: 310px;
  }
}
.scrolling-txt {
  color: #ffffff;
  background-color: #000000;
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
  font-size: 43px;
  font-style: bold;
  color: #000000;
}
.scrolling-txt p {
  text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff;
  font-family: "Abril Fatface", cursive;
}

.scrolling-txt {
  height: 90px;
  overflow: hidden;
  position: relative;
}

.scrolling-txt p {
  position: absolute;
  width: 100%;
  margin: 0;
  line-height: 80px;
  text-align: center;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: scrolling-txt 15s linear infinite;
  -webkit-animation: scrolling-txt 15s linear infinite;
  animation: scrolling-txt 15s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scrolling-txt {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes scrolling-txt {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scrolling-txt {
  0% {
    -moz-transform: translateX(100%);
    /* Browser bug fix */
    -webkit-transform: translateX(100%);
    /* Browser bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    /* Browser bug fix */
    -webkit-transform: translateX(-100%);
    /* Browser bug fix */
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 576px) {
  .scrolling-txt {
    font-size: 15px;
  }
}
@media (min-width: 577px) and (max-width: 990px) {
  .scrolling-txt {
    font-size: 25px;
  }
}
.discover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.discover-img {
  height: 100vh;
  background: url(../img/photo-accueil-cabinet-meeting.png);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  object-fit: cover;
  flex: 1;
}

.discover-img:hover {
  background: url(../img/photo-accueil-cabinet-meeting-couleur.png);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  object-fit: cover;
}

.discover-txt {
  flex: 1;
  color: #ffffff;
  padding: 0 50px 0 50px;
}
.discover-txt p {
  margin-bottom: 40px;
}
.discover-txt h1 {
  font-size: 43px;
  color: #f16f51;
}

@media screen and (max-width: 768px) {
  .discover {
    height: fit-content;
    display: block;
  }

  .discover-img {
    height: 60vh;
    flex: 0;
  }

  .discover-txt {
    padding: 0;
    text-align: center;
    flex: 0;
  }

  h1 {
    font-size: 20px;
  }
}
.estimate {
  background-color: #f8cdc5;
}
.estimate p {
  text-align: center;
}

h4 {
  font-size: 43px;
  text-align: center;
}
h4 span {
  color: #f16f51;
}

h5 {
  font-size: 31px;
  margin-bottom: 20px;
  font-weight: 100;
}

.services {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.services article {
  width: 428px;
  padding: 10px;
}
.services .article-content {
  width: 390px;
  background-color: #ffffff;
  border: solid 1.5px #000000;
  padding: 25px;
}
.services p {
  text-align: left;
}
.services img {
  width: 385px;
  height: 190px;
  object-fit: cover;
  margin-top: -120px;
  margin-left: 25px;
}

.article-img:hover {
  margin-top: -20px;
  transition: all 0.3s ease-out;
}

.quote {
  width: 100%;
  border: solid 3px #f16f51;
  background-color: #f1aa9d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 576px) {
  .services article {
    width: 300px;
    padding: 0;
    margin-bottom: 20px;
  }

  .services .article-content {
    width: 273px;
  }

  .services img {
    width: 270px;
    margin-top: -160px;
  }

  h5 {
    font-size: 20px;
  }

  h4 {
    font-size: 20px;
    padding: 0;
  }
}
footer {
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}
.contact .contact-info {
  flex: 1;
  padding-left: 50px;
}
.contact .newsletter {
  flex: 1;
  padding-right: 150px;
}
.contact p {
  margin-bottom: 42px;
}

li {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
li img {
  margin-right: 10px;
}

h6 {
  font-size: 43px;
  margin-bottom: 16px;
}

input {
  width: 100%;
  background-color: #f8cdc5;
  border: solid 1px #f16f51;
  padding: 10px;
  margin-bottom: 42px;
  position: relative;
}

.terms {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #000000;
}
.terms img {
  margin-right: 10px;
}

.figure {
  position: absolute;
  right: 5px;
}

@media screen and (max-width: 768px) {
  footer {
    height: fit-content;
  }

  .contact {
    flex-direction: column;
    padding: 0;
  }

  .contact .contact-info {
    padding: 0;
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact .newsletter {
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .terms {
    flex-direction: column;
  }

  .terms img {
    margin-bottom: 10px;
  }

  .logo-footer {
    width: 150px;
  }

  h6 {
    font-size: 20px;
  }

  input {
    width: 300px;
  }

  .figure {
    width: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
