* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

header {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 40px;
  position: fixed;
  width: 100%;
  border-bottom: solid 1px #f16f51;
  z-index: 10;
}

a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 25px;
}

button {
  color: #ffffff;
  background-color: #000000;
  border: solid 2px #ffffff;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
}

a:hover {
  color: #f16f51;
}

button:hover {
  color: #ffffff;
  background-color: #f16f51;
  border: solid 2px #f16f51;
  transition: all 0.4s ease-out;
}

.handle {
  color: #ffffff;
  display: none;
  font-size: 30px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  nav {
    display: none;
  }

  .handle {
    display: block;
  }

  .showing {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-device {
    flex-direction: column;
    height: fit-content;
    text-align: center;
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    /* Firefox */
    -webkit-animation: fadein 1s;
    /* Safari et Chrome */
    -o-animation: fadein 1s;
    /* Opera */
  }

  a {
    margin: 0;
    font-size: 20px;
    padding: 20px;
  }
}
.presentation {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  padding-top: 150px;
}

.presentation-txt,
.presentation-img {
  flex: 1;
}

.presentation-img img {
  width: 100%;
  object-fit: cover;
  max-width: fit-content;
}

h2 {
  color: #f16f51;
  font-size: 43px;
}

h3 {
  font-size: 43px;
  margin-bottom: 20px;
}

.presentation-txt {
  padding: 0 70px 0 35px;
}
.presentation-txt p {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .presentation {
    flex-direction: column;
    height: fit-content;
  }

  .presentation-txt {
    text-align: center;
    padding: 0;
  }

  .presentation-txt,
.presentation-img {
    flex: 0;
  }

  h2,
h3 {
    font-size: 20px;
  }
}
@media screen and (min-width: 990px) {
  .presentation-img img {
    padding: 0;
  }
}
.discover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.discover-img {
  background-image: url(/img/photo-accueil-cabinet-meeting.png);
  height: 100vh;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  object-fit: cover;
  flex: 1;
}

.discover-txt {
  flex: 1;
  color: #ffffff;
  padding: 0 50px 0 50px;
}
.discover-txt p {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .discover {
    height: fit-content;
    display: block;
  }

  .discover-img {
    height: 60vh;
    flex: 0;
  }

  .discover-txt {
    padding: 0;
    text-align: center;
    flex: 0;
  }
}
.estimate {
  background-color: #f8cdc5;
}
.estimate p {
  text-align: center;
}

h4 {
  font-size: 43px;
  text-align: center;
}
h4 span {
  color: #f16f51;
}

h5 {
  font-size: 31px;
  margin-bottom: 20px;
  font-weight: 100;
}

.services {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.services article {
  width: 428px;
  padding: 10px;
}
.services .article-content {
  width: 390px;
  background-color: #ffffff;
  border: solid 1.5px #000000;
  padding: 25px;
}
.services p {
  text-align: left;
}
.services img {
  width: 385px;
  height: 190px;
  object-fit: cover;
  margin-top: -120px;
  margin-left: 25px;
}

.article-img:hover {
  margin-top: -20px;
}

.quote {
  width: 100%;
  border: solid 3px #f16f51;
  background-color: #f1aa9d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 576px) {
  .services article {
    width: 300px;
    padding: 0;
    margin-bottom: 20px;
  }

  .services .article-content {
    width: 273px;
  }

  .services img {
    width: 270px;
    margin-top: -160px;
  }

  h5 {
    font-size: 20px;
  }

  h4 {
    font-size: 20px;
    padding: 0;
  }
}
footer {
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}
.contact .contact-info {
  flex: 1;
  padding-left: 50px;
}
.contact .newsletter {
  flex: 1;
  padding-right: 150px;
}
.contact p {
  margin-bottom: 42px;
}

li {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
li img {
  margin-right: 10px;
}

h6 {
  font-size: 43px;
  margin-bottom: 16px;
}

input {
  width: 100%;
  background-color: #f8cdc5;
  border: solid 1px #f16f51;
  padding: 10px;
  margin-bottom: 42px;
  position: relative;
}

.terms {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #000000;
}
.terms img {
  margin-right: 10px;
}

.figure {
  position: absolute;
  right: 5px;
}

@media screen and (max-width: 768px) {
  footer {
    height: fit-content;
  }

  .contact {
    flex-direction: column;
    padding: 0;
  }

  .contact .contact-info {
    padding: 0;
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact .newsletter {
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .terms {
    flex-direction: column;
  }

  .terms img {
    margin-bottom: 10px;
  }

  .logo-footer {
    width: 150px;
  }

  h6 {
    font-size: 20px;
  }

  input {
    width: 300px;
  }

  .figure {
    width: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
